#streamlit
#requests
#langchain
#langchain-google-genai
#google-generativeai
pydantic>=2.4,<3
langchain==0.2.**  # e.g., 0.2.16
langchain-core==0.2.**  # e.g., 0.2.41
langchain-community==0.2.**
langchain-google-genai==2.0.7
streamlit>=1.38
requests


